[submodule "external/schwabcpp"]
	path = external/schwabcpp
	url = https://github.com/willytai/schwabcpp.git
[submodule "external/DPP"]
	path = external/DPP
	url = https://github.com/brainboxdotcc/DPP.git
[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
